<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #nodeCanvas {
            background-color: white;
            border: 1px solid grey;
        }


        .dynamic-table {
            border: 1px solid grey;
            border-collapse: collapse;
            width:100;
        }

        .dynamic-cell {
            font-size: 10px;
            text-align: center;
            padding: 2px;
        }

        .dynamic-cell:hover {
            color: black;
            background: #f4f4f4;
        }

        .dynamic-cell-header {
            background-color: 'rgb(0,200,200)';
            border: 1px solid grey;
            text-align: center;
        }

        #myCanvas {}

        td {
            width: 30%
        }

        #td2 {
            width: 25%
        }

        .button {
            box-shadow: 0px 10px 14px -7px #ffffff;
            background: linear-gradient(to bottom, #636363 5%, #000000 100%);
            background-color: #599bb3;
            border-radius: 2px;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 12px;
            font-weight: normal;
            padding: 6px 12px;
            text-decoration: none;
            text-shadow: 0px 1px 0px #307188;
            width: 100%;
        }

        .button:hover {
            background: linear-gradient(to bottom, #99c9b1 5%, #217470 100%);
            background-color: #408c99;
        }

        .inputField {
            background-color: #d1d1d1;
            color: black;
            padding: 7px;
            font-size: 12px;
            border: none;
            width: 80%;
        }

        .dropdown {
            background-color: #4CAF50;
            color: white;
            padding: 7px;
            font-size: 12px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            width: 100%;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            width: 100%;
            box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .slidecontainer {
            width: 50%;
        }

        .slider {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 25px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }

        .slider:hover {
            opacity: 1;
        }

        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }

        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            background: #4CAF50;
            cursor: pointer;
        }
    </style>
    <script src="/static/libs/three.min.js"></script>
    <script src="/static/libs/OrbitControls.js"></script>
    <script src="/static/libs/MTLLoader.js"></script>
    <script src="/static/libs/OBJLoader.js"></script>
    <script src="/static/js3d/init3d.js"></script>

</head>

<body>
    <script src="/static/data/data.js"></script>
    <script src="/static/data/janData.js"></script>

    <script src="/static/queryFunc.js"></script>
    <script src="/static/drawFunc.js"></script>
    <script src="/static/relation.js"></script>
    <script src="/static/dataStructure.js"></script>

    {{{body}}}
</body>

</html>