<div id="data-container">
    <div class="slidecontainer">
        <table id="queries">
            <tr>
                <td>
                    <p id="treeHt_p"> Height of tree levels (%): </p>
                </td>
                <td>
                    <input type="range" min="51" max="200" value="100" class="slider" id="treeHt" onchange="init()">
                </td>
            </tr>
            <tr>
                <td>
                    <p id="radius_p"> Radius of Entities (%): </p>
                </td>
                <td>
                    <input type="range" min="1" max="200" value="70" class="slider" id="radius" onchange="init()">
                </td>
            </tr>
        </table>
        <table id="queries2">
            <tr>
                <td id="td2">
                    <select name="Array Index" id="selArr" class="dropdown"></select>
                </td>
                <td id="td2">
                    <select name="Query Details" id="queryOption" class="dropdown">
                        <option value=0>Display Tree</option>
                        <option value=1>Show Path</option>
                        <option value=2>Tabulate Node </option>
                    </select>
                </td>
                <td id="td2">
                    <input type="text" class="inputField" id="searchNode" name='searchNode'
                        placeholder="search by node name...">
                </td>
                <td id="td2">
                    <input type="button" class="button" value="Submit Query" id="submitQuery" onclick="submitQuery();">
                </td>
            </tr>
        </table>
    </div>
    <br>

    <br>
    <div id="result"></div>
</div>

<canvas id="nodeCanvas"></canvas>

<script>
    /// global variables ///
    var data = [...JANDATA];
    // var data = [...DATA]; 
    var NodeArr = generateRelation(data); // file: relation.js

    var CANVAS = document.getElementById('nodeCanvas');
    var CTX = CANVAS.getContext('2d');

    var nodesOnCanvas = [];

    // start select - dropdown //
    var div2 = document.getElementById("selArr");
    while (div2.hasChildNodes()) {
        div2.removeChild(div2.firstChild);
    }
    var b0 = document.createElement('option');
    b0.text = "All Selected";
    b0.value = -1;
    div2.appendChild(b0);
    for (var i = 0; i < data.length; i++) {
        var b = document.createElement('option');
        b.text = "Array " + i;
        b.value = i;
        div2.appendChild(b);
    }
    //  end select - dropdown //


    init(); // file: same file

    window.onresize = function () {
        init(); // file: same file
    };

    function init() {
        clearCanvas();
        NodeArr.forEach(node => {
            node.highlightNode = false;
            node.highlightPath = false;
        });

        var arrIndex = parseInt(document.getElementById("selArr").value);
        HT = Math.round(document.getElementById("treeHt").value);
        SC = Math.round(document.getElementById('treeHt').value / 100);
        Radius = (document.getElementById('radius').value / 100);
        document.getElementById("treeHt_p").innerHTML = "Height of tree levels (%): " + HT;

        let numLevels = NodeArr[NodeArr.length - 1].level;

        CTX.canvas.width = window.innerWidth * 9 / 10;
        CTX.canvas.height = (HT * (numLevels + 1));

        runQuery(); // file: queryFunc.js
    }
</script>

<script>
    document.getElementById("submitQuery").onclick = function () {
        init(); // file: same file
    }
</script>